body p{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-around;
    width: 20%;
    margin-left: auto;
    padding: 2em;
}
nav a{
    color: black;
    text-decoration: none;
}
.main_element a{
    color: #1a0dab;
    text-decoration: none;
}
.main_element{
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
}
a:hover{
    text-decoration: underline;
}
nav img{
    height: 20px;
}
main{
    /* width: 50%;
    text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.3em auto;
    /* margin-top: 5%; */
}
.google_img{
    width: 300px;
    margin-bottom: 1rem;
}
.search_container{
    display: flex;
    width: 45%;
    padding: 0.5em;
    border-radius: 50px;
    border: 1px solid rgb(204, 203, 203);
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3rem;
}
.search_container input{
    width: 90%;
    height: 30px;
    border: none;
    outline: none;
    padding: 0 1rem;
    font-size: 1.2rem;
    color: #555252;
}
.voice{
    width: 25px;
    margin-right: 10px;
    cursor: pointer;
}
/* .button_container{
    margin-top: 1.5em;
} */
button{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    padding: 10px 1rem;
    color: #3c4043;
    font-size: 14px;
    margin: 0.5rem;
}
button:hover {
    border: 1px solid #dcdddd;
    border-radius: 7px;
    cursor: pointer;
  }
.main_element{
    display: inline-block;
    line-height: 20px;
}
footer{
    background-color: #f2f2f2;
    color: rgba(0,0,0,.54);
}
footer a{
    text-decoration: none;
    color: rgba(0,0,0,.54);
}
.footer_top{
    padding: 1em;
}
.footer_bottom{
    padding: 1em;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(204, 203, 203);
}
.bottom_left a{
    margin-right: 1em;
}
.bottom_right a{
    margin-right: 1em;
}